[Unit]
Description=Gunicorn instance to serve a Project - Web Data Analyze
After=network.target

[Service]
User=root
Group=nginx
WorkingDirectory=/var/www/project
Environment="PATH=/home/user/miniconda3/envs/web_analyze/bin"
ExecStart=/home/user/miniconda3/envs/web_analyze/bin/gunicorn \
 -u root \
 -w 7 \
 -b unix:analyze.sock \
 --log-file /var/log/project.log --log-level=DEBUG \
 --timeout 300 \
 main:app

[Install]
WantedBy=multi-user.target